.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
}

.product-name {
    color: blue;
    font-weight: 400;
}

.product-info {
    margin-left: 5px;
}

.regular-button {
    background-color: rgb(247, 189, 45);
    /* color: white; */
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.icon-color {
    color: orange;
}